.header {
    .flex(space-between, center);
    background-color: @tess-grey;
    .width-100();
    height: 120px;
    padding-bottom: 15px;
    h1 {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        color: @tess-dark-blue;
        margin:auto;
    }
    nav{
        .flex(space-between, center);
        width: 50%;
        a{
            color: @tess-black;
            margin: auto;
        }
    }
}