@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }
}
.width-100 {
  width: 100%;
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #000000;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-image: url("../imgs/space-header.jpg");
  background-size: cover;
  color: #FFFFFF;
  width: 100%;
  height: 100px;
  animation: 1s ease-out 0s 1 fadeIn;
}
@media (max-width: 500px) {
  .header {
    flex-wrap: wrap;
    height: 20.3rem;
    justify-content: center;
    text-align: center;
    align-content: flex-start;
  }
}
.header h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  text-shadow: -1px 0 white, 0px white, 1px 0 white, 0 3px white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 3px solid white;
  padding: 7px;
  border-radius: 20px;
}
@media (max-width: 500px) {
  .header h1 {
    border-radius: 50%;
    padding-bottom: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;
}
@media (max-width: 500px) {
  .header nav {
    flex-direction: column;
    height: 8rem;
    margin-top: 15px;
    width: 100%;
  }
}
.header nav a {
  color: #FFFFFF;
  margin: auto;
}
.header nav a:hover {
  color: #808080;
  cursor: pointer;
}
@media (max-width: 500px) {
  .header nav a {
    text-decoration: none;
    margin-left: 2rem;
    text-shadow: -1px 0 white, 0px white, 1px 0 white, 0 3px white;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    margin: 0;
    padding: 1.2rem;
    border-bottom: 1px solid white;
    width: 100%;
  }
}
.main-container {
  width: 100%;
  padding: 0 10%;
}
@media (max-width: 500px) {
  .main-container {
    padding: 0;
  }
}
.main-container a {
  text-decoration: none;
}
.main-container .home {
  text-align: center;
  background-color: #02101D;
}
.main-container .home .TESS-intro {
  background-color: #E5EAF1;
}
.main-container .home .intro-content {
  padding: 1% 0;
  margin-top: 1%;
  animation: 1s ease-out 0s 1 fadeInUp;
}
@media (max-width: 500px) {
  .main-container .home .intro-content {
    margin: 0;
  }
}
.main-container .home .intro-content .first-row {
  background-color: #E5EAF1;
  margin: 10px;
}
.main-container .home .intro-content .second-row {
  background-color: #E5EAF1;
  margin: 10px;
}
.main-container .home .intro-content h2 {
  font-size: 1.5rem;
}
.main-container .home .intro-content p {
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
  text-align: justify;
}
.main-container .home .intro-content a {
  width: 120px;
  height: 30px;
  background-color: #00C9FF;
  color: #000000;
  border: 1px solid #E5EAF1;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 8rem;
}
@media (max-width: 500px) {
  .main-container .home .intro-content a {
    display: flex;
    width: 100%;
  }
}
.main-container .home .intro-content a:hover {
  color: #1a1a1a;
  background-color: #33d4ff;
}
.main-container .home .charts {
  background-color: #FFFFFF;
  padding-top: 30px;
}
.main-container .home .charts img {
  width: 100%;
  padding: 0 200px;
}
@media (max-width: 500px) {
  .main-container .home .charts img {
    padding: 0;
  }
}
.main-container .home .star-search {
  padding: 1% 0;
  margin-top: 1%;
  background-color: #E5EAF1;
}
.main-container .home .star-search p {
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
}
.main-container .home .star-search button {
  width: 120px;
  height: 30px;
  background-color: #00C9FF;
  color: #000000;
  border: 1px solid #E5EAF1;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media (max-width: 500px) {
  .main-container .home .star-search button {
    display: flex;
    width: 100%;
  }
}
.main-container .home .star-search button:hover {
  color: #1a1a1a;
  background-color: #33d4ff;
}
.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #02101D;
}
.carousel_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel_track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
}
.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.carousel_button--left {
  left: -40px;
}
.carousel_button--left :hover {
  transform: scale(1.5);
}
.carousel_button--right {
  right: -55px;
}
.carousel_button--right :hover {
  transform: scale(1.5);
}
.carousel_button img {
  width: 15px;
  background-color: #C0C0C0;
  border-radius: 50%;
}
.carousel_nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}
.carousel_indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}
