.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track-container {
    padding: 10px;
    height: 100%;
    position: relative;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
} 

.carousel_button--left {
    left: -40px;
}

.carousel_button--right {
    right: -55px;
}

.carousel_button img {
    width: 15px;
    
}

.carousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,.3);
    margin: 0 12px;

}

.carousel_indicator.current-slide {
    background: rgba(0,0,0, .75)
}