.tabs {

    @media @mobile {
        border: 1px solid red;
        padding: 0;
        width: 100%;
      
    }

    .flex(space-between, center);
    height: 100px;
    background-color: @tess-white;
    padding-left: 25%;
    .topics {
      .flex(none, center);
      .title {
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: bold;
      }
      .tab {
        .flex(none, center);
        color: @tess-black;
        background-color: @tess-white;
        margin: 0 5px;
        padding: 2px 10px;
        font-size: 12px;
        letter-spacing: 2px;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
      .active-tab {
        background-color: @tess-grey;
        color: @tess-black;
        border: 2px solid @tess-black;
      }
    }
}

img {
  margin-top: 10px;
}

.cards-container {
    .card {
        display: none;
    }
    .selected{
        display: block;
    }
}