.main-container {
    margin: 0 10%;

    a {
    text-decoration: none;
    margin-left: 2rem;
    text-shadow: -1px 0 white, 0px white, 1px 0 white, 0 3px white;
        -webkit-text-stroke-width: .2px;
        -webkit-text-stroke-color: black;
    }

    .home{
        text-align: center;
        .TESS-intro{
            background-color: @tess-grey;
        }
        .intro-content{
            padding: 1% 0;
            margin-top: 1%;

        .first-row {
            animation: 1s ease-out 0s 1 fadeInUp;
        }

            h2{
                font-size: 1.5rem;
            }
            p{
                width: 70%;
                margin:auto;
                padding-bottom:10px;
            }

            a {
                .button-creator(120px, 30px, @tess-blue, @tess-black, 1.2rem);
            }
        }
        .charts{
            background-color: @tess-white;
            margin-top: 40px;
            img{
                max-width: 600px;
            }
        }
        .star-search{
            padding: 1% 0;
            margin-top: 1%;
            background-color: @tess-grey;
            p{
                width: 70%;
                margin:auto;
                padding-bottom:10px;
            }
            button{
                .button-creator(120px, 30px, @tess-blue, @tess-black, 1rem);
            }
        }
    }
}