.main-container {
    width: 100%;
    padding: 0 10%;

    @media @mobile {
        padding: 0;
    }

    a {
        text-decoration: none;
    }

        @media @mobile {
            .header {
                a {
                    text-decoration: none;
                }
            }
        }

        .home{
            text-align: center;
            background-color: #02101D;

            .TESS-intro{
            background-color: @tess-grey;
            }
            .intro-content{
                padding: 1% 0;
                margin-top: 1%;
                animation: 1s ease-out 0s 1 fadeInUp;

                @media @mobile {
                    margin: 0;
                }

            .first-row {
                background-color: @tess-grey;
                margin: 10px;
            }
            .second-row {
                background-color: @tess-grey;
                margin: 10px;
            }


                h2{
                    font-size: 1.5rem;
                    
                }
                p{
                    width: 70%;
                    margin:auto;
                    padding-bottom:10px;
                }

                a {
                    .button-creator(120px, 30px, @tess-blue, @tess-black, 1.2rem);
                    width: 8rem;

                }
            }
            .charts{
                background-color: @tess-white;
                padding-top: 30px;
                img{
                    width: 100%;
                    padding: 0 200px;

                    @media @mobile {
                        padding: 0;
                    }

                }
            }
            .star-search{
                padding: 1% 0;
                margin-top: 1%;
                background-color: @tess-grey;
                p{
                    width: 70%;
                    margin:auto;
                    padding-bottom:10px;
                }
                button{
                    .button-creator(120px, 30px, @tess-blue, @tess-black, 1rem);
            }
        }
    }
}