// Colors
@tess-black: #000000;
@tess-white: #FFFFFF;
@tess-dark-blue: #1A036E;
@tess-blue: #00C9FF;
@tess-light-blue:  #43F8FB;
@tess-grey: #E5EAF1;
@space-blue: rgb(0, 0, 163);

// Media query widths
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 850px)";

// Fonts 
// Lato and PT Sans are also included in the import in the html
@header-font: 'Open Sans', sans-serif;
@content-font: 'Titillium Web', sans-serif;
