// Colors
@tess-black: #000000;
@tess-white: #FFFFFF;
@tess-dark-blue: #1A036E;
@tess-blue: #00C9FF;
@tess-light-blue:  #43F8FB;
@tess-grey: #E5EAF1;

// Media query widths
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 850px)";

// Fonts
@header-font: 'Helvetica', sans-serif;
@content-font: 'Titillium Web', sans-serif;
